/*nativ-comm*/
/*content样式*/
.login-box1 {
}

/*删除确认对话框*/
.del-ck-box {
    left: 130px;
    top: 0px;
    margin: 0px;
}

.fancy-box {
    width: 515px;
    overflow: hidden;
    padding: 20px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-size: 26px;
    border: 5px solid #fff;
    filter: alpha(opacity:90);
    opacity: 0.9;
    line-height: 55px;
}

.boxy-wrapper a {
    width: 242px;
    height: 68px;
    border-radius: 5px;
    font-size: 30px;
    color: #000;
    border: 0px;
    margin-left: 10px;
}

.close-bt-nativ {
    background: #ccc;
}

.down-ok-nativ {
    background: #eee;
}

.infobox_side .line a,.line a{display:block; height:44px;font-size:24px; margin:20px auto; width:204px; line-height:44px;color:#333;}
.infobox_side .line a .dot_btn,.line a .dot_btn{ width:44px; height:44px; background:url(../images/sort_gou.png) no-repeat; display:block; float:left}
.line a .dot_btn_off{ width:44px; height:44px; background:url(../images/sort_gou_off.png) no-repeat; display:block; float:left}

/*国家选择字母样式*/
.country-link {
    background: #e3e3e3;
    width: 100%;
    height: 100%;
    text-align: center;
    right: 0px;
    top: 0px;
    /*padding-left:25px; line-height:30px;word-break:break-all;word-wrap:break-word;*/
    display: block;
    z-index: 10000;
    position: absolute;
}

.country-link a.act, .country-link a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-right: 10px;
    margin-top: 10px;
    color: #333;
    border: 2px solid #9e9e9e;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    background: #d4d4d4; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #b9b9b9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #b9b9b9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #b9b9b9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #b9b9b9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #b9b9b9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%, #b9b9b9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b9b9b9', GradientType=0); /* IE6-9 */

}

.country-link a {
    color: #9d9d9d;
}

.padding18 {
    padding: 18px;
}

.down-navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #3E3E3E;
    background: -webkit-linear-gradient(top, #3E3E3E 0%, #333333 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #3E3E3E 0%, #333333 100%); /* W3C */
    min-height: 94px;
    z-index: 2000;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#countryWrapper, #sendEmailWrapper, #contactHWWrapper, #myFavoritesWrapper,#downloadingWrapper {
    top: 0;
    bottom: 0;
}

#downloadingWrapper {
    top: 176px;
    bottom:113px;
}

.finishWrapperStyle {
    top: 304px;
    bottom: 113px;
}
.edit-top {
    top: 176px;
    bottom: 0px;
}

#serverEmails, #countryText {
    margin-left: 0px;
    word-break: break-all;
    word-wrap: break-word;
}

/*
旧版兼容
*/
/*
文档详情下载.html
*/
/*content_download_list*/
.content_download_list{ overflow:hidden; width:100%; background-color:#eeeeee}
.content_download_list li{ overflow:hidden; margin-bottom:20px; background-color:#fff}
.content_download_list li .info{ overflow:hidden; padding:46px 30px 12px; line-height:32px; border-bottom:1px #bdbdbd solid}
.content_download_list li .info h1{ font-weight:normal; font-size:28px;}
.content_download_list li .info span{ font-size:28px; color:#999999; line-height:44px}
.content_download_list li .ctrl{ padding:20px 30px 20px; font-size:28px; line-height:42px; overflow:hidden}
.content_download_list li .ctrl label{ font-size:28px; float:left}
.content_download_list li .ctrl .item{ display:block; float:left; padding-right:20px}
.content_download_list li .ctrl .item:active{ opacity:.4}
.content_download_list li .ctrl .item span{ width:44px; height:44px; display:block; background:url(../images/gou_btn.png) no-repeat; float:left; margin-right:12px}
.content_download_list li .ctrl .on span{ background:url(../images/gou_btn_on.png) no-repeat}
.content_download_list li .ctrl .download{ display:block; float:right; padding:0px 16px; height:48px; line-height:48px; font-size:28px; color:#fff; background-color:#990000; text-align:center; margin-top:-4px; border:2px #990000 solid}
.content_download_list li .ctrl .download:active{ background-color:#fff; color:#999999; border-color:#999999}


/*联系华为*/
.list-country_ltt{ overflow:hidden}
.list-country_ltt dd{height: 91px; overflow: hidden; padding-left: 20px;}
.list-country_ltt dd span{ display: block; font-size: 30px; height:90px; line-height:90px; border-bottom: 1px solid #BDBDBD;}
.list-country_ltt dd:active{ background-color:#f6f6f6}
.list-country_tip_ltt{ height:40px; line-height:40px; padding-left:20px; font-size:30px; color:#333; background-color:#f4f4f4;}
#countryWrapper, #sendEmailWrapper{top:92px;bottom: 113px;}
#contactHWWrapper, #myFavoritesWrapper{top:92px;}


/*联系华为内容*/
.country_ltt{ overflow:hidden;}
.country_ltt_1{overflow:hidden;}
.country_ltt_1 li a{ overflow:hidden; display:block}
.country_ltt_1 li a b{height:60px; line-height:60px; font-size:28px; color:#333; background-color:#eeeeee; border-bottom:1px #bdbdbd solid; border-top:1px #bdbdbd solid;padding-left:20px; display:block; overflow:hidden; font-weight:normal}
.country_ltt_1 li a span{font-size:30px; color:#999; padding-left:40px; display:block; height:91px; line-height:90px;}

.country_ltt_til{height:60px; line-height:60px; font-size:28px; color:#333; background-color:#eeeeee; border-bottom:1px #bdbdbd solid; border-top:1px #bdbdbd solid;padding-left:20px}

.item-list_ltt{ overflow:hidden}
.item-list_ltt li{border-bottom:1px #bdbdbd solid;height:91px; line-height:90px; padding-left:40px;font-size:30px; color:#999;list-style-type: none;}
.item-list_ltt li .f-l{ float:left;}
.item-list_ltt li:last-child{ border-bottom:none}
.item-list_ltt .phone_icon{ width:90px; height:90px; background:url(../images/phone_icon.png) no-repeat; float:right; display:block}
.item-list_ltt .mail_icon{ width:90px; height:90px; background:url(../images/mail_icon.png) no-repeat; float:right; display:block}

/*我的下载*/
.navbar_ltt{ padding:20px;}
.navbar_ltt ul{ width:100%; height:58px; border-radius:5px; overflow:hidden; border:2px #990000 solid}
.navbar_ltt ul li{ width:50%; float:left; list-style:none}
.navbar_ltt ul li a{ display:block; height:58px; line-height:58px;font-size: 26px; text-align:center; color:#990000}
.navbar_ltt ul li .on{ background-color:#990000; color:#FFFFFF}
.navbar_ltt ul li a b{ font-weight:normal}

.pro_search_ltt{background: none repeat scroll 0 0 #D3D2D7;border-bottom: 1px solid #BDBDBD;border-top: 1px solid #BDBDBD;padding: 20px;position: relative;width: auto; overflow:hidden}
.search-icon_ltt{ position:absolute;  display: block;float: left;font-size: 28px;height: 35px;line-height: 35px; background:url(../images/serico.png) no-repeat; padding-left:40px; top:14px; left:50%; margin-left:-130px}
.search-icon_ltt a{color: #A3A4A8;}
.search-text_ltt{width:100%;height:60px;line-height:60px;border:none;border-radius:5px;font-size:28px;}


/*list-download*/
.list-download_ltt{ overflow:hidden;}
.list-download_ltt li { border-bottom:1px solid #bdbdbd; height:120px; list-style:none; font-size:24px; overflow:hidden; position:relative}
.list-download_ltt li a { padding:18px 10px 0px 20px; display:block; line-height:40px; color:#333}
.list-download_ltt li a span{font-weight:normal; color:#b8b8b8}
.list-download_ltt li a .time_ltt{ display:block;color:#b8b8b8; position:absolute; right:20px; bottom:20px}
.list-download_ltt li:active{ background-color:#f7f7f7}
.list-download_ltt li .del{width:44px; height:44px; background:url(../images/del_btn.png) no-repeat center; float:left; padding:0px; margin-top:20px; margin-right:20px; border:none}

/*list-download-now*/
.list-download-now_ltt{ overflow:hidden;}
.list-download-now_ltt li { border-bottom:1px solid #bdbdbd; height:160px; list-style:none; font-size:24px; overflow:hidden; padding:0px 10px 0px 20px; display:block; line-height:42px; position:relative}
.list-download-now_ltt li .info{ margin-right:86px; padding-top:18px}
.list-download-now_ltt li .totalSize_ltt{ position:absolute; left:20px; bottom:20px}
.list-download-now_ltt li .sate_ltt{position:absolute; left:194px; bottom:20px}
.list-download-now_ltt li .red{color: #CE0A06;}
.list-download-now_ltt li .gre{color: #2B8219;}
.list-download-now_ltt li .gry{color: #CCCCCC;}
.list-download-now_ltt li .time_ltt{position:absolute; right:86px; bottom:20px;color: #B8B8B8;}
.list-download-now_ltt li:active{ background-color:#f7f7f7}
.list-download-now_ltt li .play_icon_ltt{ position:absolute; width:44px; height:44px; background:url(../images/play.png) no-repeat; right:20px; top:60px}
.list-download-now_ltt li .pause_icon_ltt{ position:absolute; width:44px; height:44px; background:url(../images/pause.png) no-repeat; right:20px; top:60px}
.list-download-now_ltt li .watting_icon_ltt{ position:absolute; width:44px; height:44px; background:url(../images/wait.png) no-repeat; right:20px; top:60px}
.list-download-now_ltt li .del{width:44px; height:44px; background:url(../images/del_btn.png) no-repeat center;  padding:0px; border:none; display:none; position:absolute; left:20px; top:60px}

.del_model li .del{ display:block}
.del_model li{ padding-left:90px}
.del_model li .totalSize_ltt{ left:90px;}
.del_model li .info{ margin-right:0px}
.del_model li .time_ltt{ right:20px}
.del_model li .sate_ltt{position:absolute; left:260px; bottom:20px}


.sendmail_ltt{ margin-top:40px; overflow:hidden; border-top:1px #C8C7CC solid;}
.sendmail_ltt li{ overflow:hidden; border-bottom:1px #C8C7CC solid;  height:90px; position:relative; font-size:30px; background-color:#fff; line-height:90px; list-style-type:none;}
.sendmail_ltt li .lab_ltt{color:#bfbfbf; padding-left:20px; float:left; display:block; width:156px}
.sendmail_ltt li .mlab_ltt{ }
.sendmail_ltt li input{ height:40px; color:#333333; width:100%; border:none; font-size:30px; display:block; float:left}
.sendmail_ltt li .input_box_ltt{position:absolute; left:180px; right:0px; top:24px;  height:40px; line-height:0px}
.sendmail_box_ltt{width:100%; overflow:hidden; margin-top:40px; font-size:30px; color:#333333; border-bottom:1px #C8C7CC solid; border-top:1px #C8C7CC solid; height:330px; background-color:#fff}
.sendmail_text_ltt .in_box_ltt{ padding:10px 20px; display:block;}
.sendmail_text_ltt .in_box_ltt textarea{ width:100%; line-height:40px;height:310px; border:none; font-size:30px;}
.sendmail_paddingTop_ltt{padding-top: 26px}

@media screen and (min-width:1200px){


}

@media screen and (min-width:960px) and (max-width:1199px) {



}

@media screen and (min-width: 768px) and (max-width:959px) {

}


@media screen and (min-width:481px) and (max-width: 767px){

}
@media screen and (min-width:10px) and (max-width:480px){
/*
旧版兼容
*/
/*删除确认对话框*/
.infobox_side .line a,.line a{display:block; height:22px;font-size:12px; margin:10px auto; width:102px; line-height:22px; color:#333;}
.infobox_side .line a .dot_btn,.line a .dot_btn{ width:22px; height:22px; background:url(../images/sort_gou.png) no-repeat; background-size:100%; display:block; float:left}
.line a .dot_btn_off{ width:22px; height:22px; background:url(../images/sort_gou_off.png) no-repeat; background-size:100%; display:block; float:left;}

/*
文档详情下载
*/
/*content_download_list*/
.content_download_list{ overflow:hidden; width:100%; background-color:#eeeeee}
.content_download_list li{ overflow:hidden; margin-bottom:10px; background-color:#fff}
.content_download_list li .info{ overflow:hidden; padding:23px 15px 6px; line-height:16px; border-bottom:1px #bdbdbd solid}
.content_download_list li .info h1{ font-weight:normal; font-size:14px;}
.content_download_list li .info span{ font-size:14px; color:#999999; line-height:22px}
.content_download_list li .ctrl{ padding:10px 15px 10px; font-size:14px; line-height:21px; overflow:hidden}
.content_download_list li .ctrl label{ font-size:14px; float:left}
.content_download_list li .ctrl .item{ display:block; float:left; padding-right:10px}
.content_download_list li .ctrl .item:active{ opacity:.4}
.content_download_list li .ctrl .item span{ width:22px; height:22px; display:block; background:url(../images/gou_btn.png) no-repeat; background-size:100%; float:left; margin-right:6px}
.content_download_list li .ctrl .on span{ background:url(../images/gou_btn_on.png) no-repeat; background-size:100%;}
.content_download_list li .ctrl .download{ display:block; float:right; padding:0px 8px; height:24px; line-height:24px; font-size:14px; color:#fff; background-color:#990000; text-align:center; margin-top:-2px; border:1px #990000 solid}
.content_download_list li .ctrl .download:active{ background-color:#fff; color:#999999; border-color:#999999}


/*联系华为*/
.list-country_ltt{ overflow:hidden}
.list-country_ltt dd{height: 46px; overflow: hidden; padding-left: 10px;}
.list-country_ltt dd span{ display: block; font-size: 15px; height:45px; line-height:45px; border-bottom: 1px solid #BDBDBD;}
.list-country_ltt dd:active{ background-color:#f6f6f6}
#countryWrapper, #sendEmailWrapper{top: 46px;bottom: 59px;}
#contactHWWrapper, #myFavoritesWrapper {top:46px;}


/*联系华为内容*/
.country_ltt{ overflow:hidden;}
.country_ltt_1{overflow:hidden;}
.country_ltt_1 li a{ overflow:hidden; display:block}
.country_ltt_1 li a b{height:30px; line-height:30px; font-size:14px; color:#333; background-color:#eeeeee; border-bottom:1px #bdbdbd solid; border-top:1px #bdbdbd solid;padding-left:10px; display:block; overflow:hidden; font-weight:normal}
.country_ltt_1 li a span{font-size:15px; color:#999; padding-left:20px; display:block; height:46px; line-height:45px;}

.country_ltt_til{height:30px; line-height:30px; font-size:14px; color:#333; background-color:#eeeeee; border-bottom:1px #bdbdbd solid;  border-top:1px #bdbdbd solid; padding-left:10px}

.item-list_ltt{ overflow:hidden;}
.item-list_ltt li{border-bottom:1px #bdbdbd solid;height:46px; line-height:45px; padding-left:20px;font-size:15px; color:#999;list-style-type:none;}
.item-list_ltt li .f-l{ float:left}
.item-list_ltt li:last-child{ border-bottom:none}
.item-list_ltt .phone_icon{ width:45px; height:45px; background:url(../images/phone_icon.png) no-repeat; float:right; display:block; background-size:100%}
.item-list_ltt .mail_icon{ width:45px; height:45px; background:url(../images/mail_icon.png) no-repeat; float:right; display:block; background-size:100%}


/*我的下载*/
.navbar_ltt{ padding:10px;}
.navbar_ltt ul{ width:100%; height:29px; border-radius:3px; overflow:hidden; border:1px #990000 solid}
.navbar_ltt ul li{ width:50%; float:left; list-style:none}
.navbar_ltt ul li a{ display:block; height:29px; line-height:29px;font-size: 13px; text-align:center; color:#990000}
.navbar_ltt ul li .on{ background-color:#990000; color:#FFFFFF}
.navbar_ltt ul li a b{ font-weight:normal}

.pro_search_ltt{background: none repeat scroll 0 0 #D3D2D7;border-bottom: 1px solid #BDBDBD;border-top: 1px solid #BDBDBD;padding: 10px;position: relative;width: auto; overflow:hidden}
.search-icon_ltt{ position:absolute;  display: block;float: left;font-size: 14px;height: 18px;line-height: 18px; background:url(../images/serico.png) no-repeat; padding-left:20px; top:7px; left:50%; margin-left:-65px; background-size:auto 100%}
.search-icon_ltt a{color: #A3A4A8;}
.search-text_ltt {height:30px;line-height:30px;border-radius:3px;font-size:14px;}


/*list-download*/
.list-download_ltt{ overflow:hidden;}
.list-download_ltt li { border-bottom:1px solid #bdbdbd; height:60px; list-style:none; font-size:12px; overflow:hidden; position:relative}
.list-download_ltt li a { padding:9px 5px 0px 10px; display:block; line-height:20px}
.list-download_ltt li a span{font-weight:normal; color:#b8b8b8}
.list-download_ltt li a .time_ltt{ display:block;color:#b8b8b8; position:absolute; right:10px; bottom:10px}
.list-download_ltt li:active{ background-color:#f7f7f7}
.list-download_ltt li .del{width:22px; height:22px; background:url(../images/del_btn.png) no-repeat center; float:left; padding:0px; background-size:100%; margin-top:10px; margin-right:10px; border:none}


/*list-download-now*/
.list-download-now_ltt{ overflow:hidden;}
.list-download-now_ltt li { border-bottom:1px solid #bdbdbd; height:80px; list-style:none; font-size:12px; overflow:hidden; padding:0px 5px 0px 10px; display:block; line-height:21px; position:relative}
.list-download-now_ltt li .info{ margin-right:43px; padding-top:9px}
.list-download-now_ltt li .totalSize_ltt{ position:absolute; left:10px; bottom:10px}
.list-download-now_ltt li .sate_ltt{position:absolute; left:97px; bottom:10px}
.list-download-now_ltt li .red{color: #CE0A06;}
.list-download-now_ltt li .gre{color: #2B8219;}
.list-download-now_ltt li .gry{color: #CCCCCC;}
.list-download-now_ltt li .time_ltt{position:absolute; right:43px; bottom:10px;color: #B8B8B8;}
.list-download-now_ltt li:active{ background-color:#f7f7f7}
.list-download-now_ltt li .play_icon_ltt{ position:absolute; width:22px; height:22px; background:url(../images/play.png) no-repeat; background-size:100%; right:10px; top:30px}
.list-download-now_ltt li .pause_icon_ltt{ position:absolute; width:22px; height:22px; background:url(../images/pause.png) no-repeat; background-size:100%; right:10px; top:30px}
.list-download-now_ltt li .watting_icon_ltt{ position:absolute; width:22px; height:22px; background:url(../images/wait.png) no-repeat; background-size:100%; right:10px; top:30px}
.list-download-now_ltt li .del{width:22px; height:22px; background:url(../images/del_btn.png) no-repeat center;background-size:100%;  padding:0px; border:none; display:none; position:absolute; left:10px; top:30px}

.del_model li .del{ display:block;  }
.del_model li{ padding-left:45px}
.del_model li .totalSize_ltt{ left:45px;}
.del_model li .info{ margin-right:0px}
.del_model li .time_ltt{ right:10px}
.del_model li .sate_ltt{position:absolute; left:130px; bottom:10px}



.sendmail_ltt{ margin-top:20px; overflow:hidden; border-top:1px #C8C7CC solid;}
.sendmail_ltt li{ overflow:hidden; border-bottom:1px #C8C7CC solid;  height:45px; position:relative; font-size:15px; background-color:#fff; line-height:45px; }
.sendmail_ltt li .lab_ltt{color:#bfbfbf; padding-left:10px; float:left; display:block; width:78px}
.sendmail_ltt li .mlab_ltt{ }
.sendmail_ltt li input{ height:20px; color:#333333; width:100%; border:none; font-size:15px; display:block; float:left}
.sendmail_ltt li .input_box_ltt{position:absolute; left:90px; right:0px; top:12px;  height:20px; line-height:0px}
.sendmail_box_ltt{width:100%; overflow:hidden; margin-top:20px; font-size:15px; color:#333333; border-bottom:1px #C8C7CC solid; border-top:1px #C8C7CC solid; height:165px; background-color:#fff}
.sendmail_text_ltt .in_box_ltt{ padding:5px 10px; display:block;}
.sendmail_text_ltt .in_box_ltt textarea{ width:100%; line-height:20px;height:155px; border:none; font-size:15px;}
.sendmail_paddingTop_ltt{padding-top: 13px}


}

@media screen and (min-width:480px) and (max-width:540px){

}

@media screen and (min-width:110px) and (max-width:480px) {
    .wrapper-top90 {
        top: 45px;
    }

    .item-list li .r-icon {
        height: 21px;
        width: 13px;
    }

    .phone-bt, .mail-bt {
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        text-indent: 20px;
        width: 52px;
    }

    .phone-icon, .mail-icon {
        height: 15px;
        left: 4px;
        top: 6px;
        width: 15px;
    }

    .phone-icon {
        background-position: -120px -410px;
    }

    .mail-icon {
        background-position: -135px -410px;
        top: 9px;
    }

    #serverEmail {
        float: none;
        word-wrap: break-word;
    }

    .TAC {
        margin: 10px 0;
        font-size: 20px;
    }

    .hw-texts {
        font-size: 18px;
        line-height: 20px;
    }

    .down-navbar li.navbar_li1 a span, .down-navbar li.navbar_li2 a span {
        height: 21px;
        width: 21px;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    .down-navbar li.navbar_li1 a span {
        background-position: -70px -410px;
    }

    .down-navbar li a {
        font-size: 14px;
    }

    .down-navbar li.navbar_li2 a span {
        background-position: -95px -410px;
    }

    .ui-icon {
        display: none;
    }

    .down-navbar {
        min-height: 52px;
    }

    .down-navbar li {
        min-height: 52px;
        line-height: 52px;
    }

    .down-navbar li.navbar_li1, .down-navbar li.navbar_li2 {
        padding-bottom: 1px;
    }

    .down-title {
        font-size: 16px;
        padding-left: 15px;
        height: 50px;
        line-height: 50px;
    }

    .wrapper_finishStyle {
        top: 152px;
    }

    .wrapper_downloadingStyle {
        top: 94px;
    }

    #finishList li, #downloadingList li {
        position: relative;
    }

    .down-btn-on, .down-btn-off, .loading-on, .loading-off {
        height: 25px;
        right: 20px;
        width: 23px;
    }

    .down-btn-on {
        background-position: -125px -330px;
    }

    .loading-on {
        background-position: -205px -330px;
        width: 24px;
    }

    .down-btn-off {
        background-position: -150px -330px;
    }

    .d-del {
        height: 28px;
        width: 28px;
    }

    .boxy-wrapper p {
        font-size: 20px;
    }

    .fancy-box {
        background: #000;
        font-size: 18px;
        left: 10%;
        line-height: 55px;
        padding: 20px;
        width: 265px;
    }

    .boxy-wrapper a {
        font-size: 20px;
        height: 34px;
        margin-left: 10px;
        width: 121px;
    }

    .ck-box {
        height: 28px;
        margin: 0px 5px 0 0;
        left: 20px;
        top: 0px;
        width: 25px;
    }

    .ck-box.cur {
        background-position: -240px -360px;
    }

    .hw-text {
        font-size: 20px;
        line-height: 20px;
    }

    .country-list dt {
        font-size: 24px;
        padding: 5px 0px 5px 25px;
    }

    .country-list dd {
        font-size: 20px;
        padding: 25px 0px 25px 15px;
    }

    #serverEmails, #countryText {
        margin-left: 0px;
    }

    .finishWrapperStyle {
        top: 152px;
        bottom: 59px;
    }

    .edit-top {
        top: 88px;
        bottom: 0px;
    }

    #downloadingWrapper {
        top: 88px;
        bottom: 59px;
    }
.list-country_tip_ltt{ height:20px; line-height:20px; padding-left:10px; font-size:15px; color:#333; background-color:#f4f4f4;}
}