<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        body, *{margin: 0; padding: 0;}

        .box{ background-color: green; width: 100%;  display: -webkit-box;}
        .item{background-color: gray; margin: 10px;word-wrap: break-word; }
        .item:first-child{ width: 200px;-webkit-box-flex:0;}
        .item:nth-child(2){ margin:10px 0px;  -webkit-box-flex:1;}
        .item:last-child{ -webkit-box-flex:1; }
    </style>
</head>
<body>
<div class="box">
    <div class="item">column 1</div>
    <div class="item">colucolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumnmn22222222222222222222222222222</div>
    <div class="item">3333333333333333colucolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumnmn</div>
</div>



<div class="item">colucolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumncolumnmn 22222222222222222222222222222</div>
<div class="item">3333</div>
</body>
</html>
