@media screen and (min-width:1000px){
    header{ background-color: pink;}
}


@media screen and (min-width:600px) and (max-width:1000px){
    header{ background-color: green;}
}

@media screen and (max-width:600px){
    header{ background-color: red;}
}