.mint-swipe-indicator{
    width:0.12rem;
    height:0.03rem;
    background:#D8D8D8;
    opacity:1;
    border-radius:0.25rem;
}
.mint-swipe-item.is-active {
    overflow: auto;
}

.mint-swipe-indicator.is-active{
    background:#6B89DE;
}
.mint-cell-allow-right::after{
    color:#979799;
    right:0.01rem;
}
.mint-swipe {
    overflow-y:auto;
}
.mint-swipe-items-wrap {
    overflow-y:auto;
}
.mint-header{
    position:fixed;
    width:100%;
    border:0.01rem solid #E8E8E8;
    z-index:5000;
}
.v-modal{
    top:0.5rem;
}
.mint-cell-wrapper{
    background-image:none;
}
.mint-field-core{
    border:0.01rem solid #E8E8E8;
    border-radius:0.05rem;
    padding:0.05rem;
    font-size: 0.14rem;
}
.mint-msgbox-message{
    color:#444;
}

.mint-spinner-fading-circle-circle {
    display: none;
}
.mint-loadmore-bottom {
    margin-bottom: 0;
}

.yd-slider-pagination-item {
    width: 0.24rem;
    height: 0.02rem;
    background: #D8D8D8;
    opacity: 1;
    border-radius: 0.25rem;
}

.no-data-hint {
    text-align: center;
    font-size: 0.3rem;
    padding: 0.2rem;
    color: #666;
}