<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Title</title>
</head>
<body>

<div id="react-app">
  <h1>  name: ${ column_title } </h1>
  <p>
    id: ${ id }
  </p>
  <ul>
    ${
      articles.map(article => {
        return `
          <li>
            <h2>title: ${ article.article_title }</h2>
            id: ${ article.id },
            is_video_preview: ${ article.is_video_preview },
          </li>
        `
      }).join('')
    }

  </ul>
</div>

</body>
</html>
