<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <title>Document</title>
</head>
<body>
vue.


app:
<div id="app">

  <h1>ES6模板字符串改造成模板引擎：</h1>
  column: ${ count }
  <p>${ column }</p>
</div>

<br>


</body>
</html>
